html,
body {
    height: 100%;
    margin: 0 auto;
}

* {
    margin: 0 auto;
}

img {
    width: 100%;
}

#clickAndChoose {
    position: relative;
    width: 100%;
    height: 30%;
}

#phone {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5%;
}

#stats {
    width: 100%;
    height: 5%;
    position: absolute;
    top: 12%;
}
#inputer {
    position: relative;
    width: 100%;
    height: 12%;
}
button {
    margin-top: 10%;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 40px;
    font-weight: bold;
    font-size: 3em;
}
.inputCodeEEC:last-of-type {
    margin-right: 5%;
}

.inputCodeEEC:first-of-type {
    margin-left: 5%;
}
.inputCodeEEC {
    border-radius: 15px;
    box-sizing: border-box;
    width: 15%;
    margin-right: 10%;
    height: 100%;
    font-size: 5vh;
    text-align: center;
    border: 2px solid blue;
}

#pEEC {
    padding-top: 18%;
    margin-bottom: 5%;
    text-align: center;
}

.middlel {
    width: 30%;
    height: 50%;
}

#online4R {
    position: absolute;
    left: 10px;
    top: 12%;
    width: 10%;
    height: 5%;
}

#R4online {
    position: absolute;
    left: 25%;
    top: 12%;
    width: 15%;
    height: 10%;
    font-size: 4vh;
}

.ST4A {
    float: left;
    width: 80%;
    margin-left: 10%;
    height: 50%;
}

textarea {
    font-size: 1.4em;
}

#ST2 {
    position: relative;
    width: 100%;
    height: 40%;
}

#ST3 {
    text-align: justify;
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 2em;
}

#R4 {
    width: 45%;
    height: 20%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

#R4notifi {
    box-sizing: border-box;
    position: absolute;
    width: 15%;
    height: 20%;
    left: 70%;
    bottom: 0%;
    font-size: 7em;
    color: rgb(7, 168, 7);
}

#ST4 {
    width: 60%;
    height: 8%;
    float: left;
    margin: 0% 20% 0% 20%;
    background-color: blue;
    border: 1px solid yellow;
}

.table {
    box-sizing: border-box;
    text-align: center;
    font-size: 4em;
    width: 50%;
    height: 20%;
    border: 2px solid black;
    display: inline-block;
}

.borderWithNumber {
    box-sizing: border-box;
    display: block;
    font-size: 25px;
    width: 100%;
    height: 33%;
    border: 2px solid black;
    padding: 2%;
    margin-bottom: 3%;
    text-align: center;
}

#firstNumberResult {
    position: relative;
    float: left;
    width: 30%;
    height: 70%;
    display: block;
}

#twondNumberResult {
    position: relative;
    float: left;
    width: 40%;
    height: 70%;
    display: block;
}

#thirdNumberResult {
    position: relative;
    float: left;
    width: 30%;
    height: 70%;
    display: block;
}

#margin15 {
    margin-top: 50%;
}

#checkboxCheck {
    background-color: #94bdff;
    width: 80%;
    height: 65%;
    margin-left: 10%;
    position: relative;
}

#checkboxCheckU {
    background-color: #94bdff;
    width: 70%;
    height: 70%;
    margin-left: 15%;
    position: relative;
}

#checkboxCheck > div:first-child {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
}

#checkboxCheck > div:last-child {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
}

.checkbox {
    width: 13px;
    margin: 3px;
    height: 13px;
    border: 1px solid black;
    float: left;
}

.leftCheckboxes {
    position: relative;
    height: 10%;
    width: 100%;
    font-size: 16px;
}

.rightCheckboxes {
    position: relative;
    height: 8%;
    width: 100%;
}
